* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #d06224;
}

header {
  background: #000;
  display: flex;
  font-size: 20px;
  height: 75px;
}

header h1 {
  font-weight: bold;
  font-size: 35px;
  font-style: normal;
  padding: 1% 8%;
  color: #ddd;
}

.container {
  margin: 8%;
  justify-content: center;
  height: 100%;
}

.leaderboard-item-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 3vh;
}

.leaderboard-item-header h2 {
  color: #ddd;
  font-weight: bold;
  font-size: 30px;
}

.refresh {
  margin-left: 45%;
}

.refresh button {
  padding: 5px 10px;
  font-size: 16px;
  color: #000;
  border: 1px solid #ddd;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 0.1px solid #ddd;
  text-align: left;
  padding: 8px;
  color: #fff;
}

tr:nth-child(odd) {
  background-color: #983c1b;
}

tr:nth-child(even) {
  background-color: #ae441f;
}

.leaderboard-form {
  margin-top: 2vh;
}

.create-leaderboard h2 {
  text-align: center;
  color: #ddd;
  font-weight: bold;
  font-size: 30px;
}

#scoreInput,
#nameInput {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 3vh;
}

#submitButton {
  float: right;
  padding: 5px 10px;
  font-size: 16px;
  color: #000;
  border: 1px solid #ddd;
}

footer {
  display: flex;
  background: #000;
  justify-content: center;
  margin-top: 20%;
  bottom: 0;
}

footer p {
  justify-content: center;
  font-size: 20px;
  padding: 2vh 0;
  color: #ddd;
}

@media only screen and (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8%;
  }
}
