

header {
  margin: 0 8%;
}

header h1 {
  font-weight: bold;
  font-size: 35px;
  font-style: normal;
}
.container {
  margin: 8%;
  justify-content: center;
}

.leaderboard-item-header {
  display: flex;
  flex-direction: row;
}

.refresh {
  padding: 22px 37px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ddd;
}

.leaderboard-form h2 {
  text-align: center;
}

.form-control {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group {
  display: flex;
  justify-content: center;
  margin-bottom: 3vh;
}

.submit-button {
  float: right;
}

@media only screen and (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8%;
  }
}